# Dependencies
node_modules
.pnpm-debug.log*

# Build and Tooling
.turbo
dist
.output
.vinxi
.astro
.nitro
.tanstack
styled-system

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project Specific
# Ensure .gemini is NOT ignored
!.gemini/
